<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Editar Carro</title>
    <link th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" rel="stylesheet" />
</head>

<body>
    <div class="card" style="margin: 10px">
        <div class="card-header">
            <h1 class="card-title">Editar Carro Cadastrado - Roosevelt Silva</h1>
        </div>
        <div class="card-body">

            <form method="POST" th:object="${carro}" th:action="@{/carros}" style="margin: 20px 0">

                <div class="d-flex align-items-center gap-2">
                    
                    <input type="hidden" class="form-control" readOnly="readonly" th:field="*{id}" />

                    <input type="text" class="form-control" placeholder="Placa" th:field="*{placa}"
                        style="max-width: 200px;" />

                    <button type="submit" class="btn btn-primary">Salvar</button>
                
                </div>

            </form>
        </div>
    </div>
</body>

</html>