<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Carros</title>
    <link th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" 
            rel="stylesheet" />
</head>

<body>
    <div class="card" style="margin: 10px">
        <div class="card-header">
            <h1 class="card-title">Lista de Carros Cadastrados - Roosevelt Silva</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Placa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0</td>
                        <td>HSC-3456</td>
                    </tr>

                    <tr th:each="carro : ${carros}">
                        <td th:text="${carro.id}"></td>
                        <td th:text="${carro.placa}"></td>
                    </tr>
        
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>