<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Carros</title>
    <link th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" rel="stylesheet" />
</head>

<body>
    <div class="card" style="margin: 10px">
        <div class="card-header">
            <h1 class="card-title">Lista de Carros Cadastrados - Roosevelt Silva</h1>
        </div>
        <div class="card-body">

            <form method="POST" th:object="${carro}" th:action="@{/carros}" style="margin: 20px 0">

                <div class="d-flex align-items-center gap-2">
                    <input type="text" class="form-control" placeholder="Placa" th:field="*{placa}"
                        style="max-width: 200px;" />

                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>

            </form>

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Placa</th>
                        <th>EDITAR</th>
                        <th>DELETAR</th>
                    </tr>
                </thead>
                <tbody>

                    <tr th:each="carro : ${carros}">
                        <td th:text="${carro.id}"></td>
                        <td th:text="${carro.placa}"></td>

                        <td> <a class="btn btn-primary" th:href="@{/carro/{id}(id=${carro.id})}">
                                Editar
                            </a>
                        </td>
                        <td> <a class="btn btn-danger" th:href="@{/carro/deletar/{id}(id=${carro.id})}">
                                Excluir
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</body>

</html>